<div class="last-comments">
  <ul>
    <% Comment.order("id desc").limit(5).each do |comment| %> 
    <li>
    <%= link_to comment.name,show_post_path(comment.post_id)+"#comment_#{comment.id}" %>
    </li>
    <% end %>
  </ul>
</div>
