<div class="search">
  <form method="post" action="posts/search">
    <input class="searchfield" name="search" type="text" value="Search"/>
    <input type="submit" class="loupe" value="Search" />
  </form>
</div>
