<h4>Contact me</h4>
<form action="/contact/create" method="post" id="contact">
		<input type="text" id="name" name="contact[name]" placeholder="Name"  /><br />
		<input type="text" id="mail" name="contact[mail]" placeholder="Email" /><br />
		<textarea id="content" name="contact[content]" ></textarea><br />
    <input type="submit" id="send" value="Send"  />
</form>
